.header {
    display: grid;
    grid-area: hd;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    width: 100vw;
    grid-column-gap: 80px;
    margin-top: 30px;
    margin-bottom: 10px;
    
}

.logoName {
    display: grid;
    font-size: 25px;
    font-weight: bold;
    margin-left: 50px;
    font-family: 'Work Sans', sans-serif;
}

.search {
    display: grid;
    font-size: 15px;
    border: none;
    outline: none;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    color: black;
}

.avatarName {
    display: grid;
    grid-template-columns: 30px 150px;
    grid-column-gap: 15px;
    align-items: center;

}

input::-webkit-input-placeholder { 
    color:  #e0e6e7; 
}

.avatar {
    display: grid;
    width: 25px;
    height: 25px;
    background-size: cover;
    border-radius: 50%;
}

.name {
    font-size: 10px;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    
}

@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,700&display=swap');
