.header {
    display: grid;
    grid-area: hd;
}

.logoName {
    display: grid;
    font-size: 20px;
    font-family: 'Oxygen', sans-serif;
    font-weight: bold;
    grid-column-start: 1;
    grid-column-end: 2;
}

.search {
    display: grid;
    font-size: 15px;
    width: 300px;
    border: none;
    outline: none;
    grid-column-start: 2;
    grid-column-end: 6;
}

.avatarName {
    display: grid;
    grid-template-columns: 30px 150px;
    grid-column-gap: 1px;
    grid-column-start: 6;
    grid-column-end: 7;
}

.avatar {
    display: grid;
    width: 25px;
    height: 25px;
    background-size: cover;
    border-radius: 50%;
}

.name {
    font-size: 10px;
}





@import url('https://fonts.googleapis.com/css?family=Oxygen:400,700&display=swap');