.header {
    display: grid;
    grid-area: hd;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    width: 100vw;
    grid-column-gap: 80px;
    margin-top: 20px;
}

.logoName {
    display: grid;
    font-size: 20px;
    font-family: 'Oxygen', sans-serif;
    font-weight: bold;
    margin-left: 50px;
}

.search {
    display: grid;
    font-size: 15px;
    border: none;
    outline: none;
}

.avatarName {
    display: grid;
    grid-template-columns: 30px 150px;
    grid-column-gap: 1px;
    align-items: center;
}

.avatar {
    display: grid;
    width: 25px;
    height: 25px;
    background-size: cover;
    border-radius: 50%;
}

.name {
    font-size: 10px;
}

@import url('https://fonts.googleapis.com/css?family=Oxygen:400,700&display=swap');