.menuLeft {
    margin-left: 50px;
    margin-top: 70px;
    display: grid;
    background-color: rgb(184, 129, 236);
    grid-area: ml;
}

.menuOne {
    margin-top: 25px;
    margin-bottom: 35px;
}


.text {
    font-size: 10px;
    font-weight: bold;
}

.buttonIcon {
    width: 15px;
    height: 15px;
}

.text2 {
    border-radius: 50px;
    display: flex;
    flex-direction: row;
}

.text2:hover {
    background-color: black;
    color: white;
}

.text2:hover > svg {
    fill: white;
}

h3 {
    font-size: 10px;
    color: #bac7ca;
}

.text2 {
    display: flex;
    flex-direction: row;
    width: 95px;
    height: 25px;
    margin-top: 15px;
}

.img2 {
    width: 10px;
    height: 10px;
    margin-right: 25px;
}

.borderForYou {
    border-radius: 50px;
    background-color: black;
    color: white;
    width: 125px;
    height: 30px;
}

