.menuLeft {
    display: grid;
    grid-area: ml;
}

.menuOne {
    margin-top: 30px;
    margin-left: 20px;
}

.text {
    font-size: 10px;
    font-weight: bold;
}

.buttonIcon {
    width: 15px;
    height: 15px;
}

.text2 {
    border-radius: 50px;
    display: grid;
    grid-template-columns: 30px 150px;
    grid-column-gap: 5px;
    width: 150px;
    height: 40px;
    margin-left: 20px;
    align-items: center;
    
}

.text2:hover {
    background-color: black;
    color: white;
    width: 150px;
    height: 40px;
}

.text2:hover>svg {
    fill: white;
}

h3 {
    font-size: 10px;
    color: #bac7ca;
}

.img2 {
    width: 10px;
    height: 10px;
    margin-right: 25px;
}