.pleer {
    display: grid;
    background-color: rgb(241, 239, 90);
    grid-area: pl;
   
}

.coverBook {
    background-color: rgb(236, 141, 212);
    border: 1px solid grey;
    width: 50px;
    height: 80px;
    border-radius: 10px;
}

.infoBook {


}

.pleerIcon {
    width: 35px;
    height: 35px;
    
}


.booksPlayer {


}


.pleerMenu {
    display: grid;
    grid-template-columns: repeat();
    align-items: center;
    grid-auto-flow: column;
    grid-column-gap: 50px;
  
}