.pleer {
    display: grid;
    background-color: #f4f6f8;
    grid-area: pl;
    border-radius: 40px 40px 0px 0px;
}

.coverBook {
    background-color: rgb(236, 141, 212);
    border: 1px solid grey;
    width: 50px;
    height: 80px;
    border-radius: 10px;
}

.infoBook {


}

.pleerIcon {
    width: 35px;
    height: 35px;
    
}


.booksPlayer {


}


.pleerMenu {
    display: grid;
    grid-template-columns: repeat();
    align-items: center;
    grid-auto-flow: column;
    grid-column-gap: 50px;
  
}

.timePast {
    margin-left: 25px;
    font-size: 12px;
    font-weight: bold;
}

.timeFuture {
    font-size: 12px;
    font-weight: bold;

}

.pleerBlack {
    background-color: #222025;
    border-radius: 40px 40px 0px 0px;
    height: 200px;
}

.blackPleerIcon {
    width: 35px;
    height: 35px;
    background-color: azure;
}