.pleer {
    display: grid;
    background-color: #f4f6f8;
    grid-area: pl;
    border-radius: 40px 40px 0px 0px;
}


.coverBook {
    background-color: rgb(236, 141, 212);
    border: 1px solid grey;
    width: 50px;
    height: 80px;
    border-radius: 10px;
}

.infoBook {
    display: grid;
    grid-template-columns: 30px 150px;
    grid-column-gap: 5px;
    margin-left: 20px;
    align-items: center;
    

}

.aboutbook {
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 20px;
}

.nameBookPleer {
    font-size: 15px;
    font-weight: bold;
    margin-left: 15px;
    
}

.authorPleer {
    color: #bac7ca;
    margin-left: 15px;

}


.pleerIcon {
    width: 35px;
    height: 35px;
    
}


.booksPlayer {


}


.pleerMenu {
    display: grid;
    grid-template-columns: repeat();
    align-items: center;
    grid-auto-flow: column;
    grid-column-gap: 50px;
    margin-bottom: 20px;
}

.timePast {
    margin-left: 25px;
    font-size: 12px;
    font-weight: bold;
}

.timeFuture {
    font-size: 12px;
    font-weight: bold;

}

.pleerBlack {
    background-color: #222025;
    border-radius: 40px 40px 0px 0px;
    height: 200px;
    overflow-y: scroll;
    
}

.pleerBlack::-webkit-scrollbar {
    display: none;
}

.blackPleerIcon {
    width: 10px;
    height: 10px;
    background-color: azure;
}

.chapter {
    display: grid;
    grid-template-columns: 20px 230px 20px;
    grid-column-gap: 1px;
    align-items: center;
    color: white;
    font-size: 10px;
    margin-left: 35px;
    margin-top: 30px;
}