.scrollX {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 25px;
    overflow-x: scroll;
    grid-area: sx;
    height: 300px;
    margin-top: 20px;
}

.square {
    display: grid;
    width: 350px;
    height: 200px;
    border: 1px solid transparent;
    border-radius: 30px;
}

.violetSquare {
    background-color: #7134bf;
    box-shadow: 40px 30px 100px -40px #d4c6e7;
}

.roseSquare {
    background-color: #edacc6;
    box-shadow: 40px 30px 100px -40px #dba9be;
}

.blueSquare {
    background-color: #03d3d6;
    box-shadow: 40px 30px 100px -40px #c0ecec;
}

.orangeSquare {
    background-color: #ffa40a;
    box-shadow: 40px 30px 100px -40px #f1e2c8;
}

.textInSquare {
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding-top: 130px;
    padding-left: 30px;
}