.scrollY {
    display: grid;
    grid-area: sy;
    overflow-y: scroll;
    grid-template-rows: auto auto;
}

.scrollY>h1 {
    margin-left: 20px;
    margin-right: 20px;
}

.booksContainer {
    display: grid;
    padding: 20px;
    grid-template-columns: auto auto;
    grid-gap: 20px 100px;
    grid-template-rows: repeat(auto-fill, 1fr);
}

.scrollY::-webkit-scrollbar {
    display: none;
}

.squareBook {
    display: grid;
    grid-template-columns: auto auto;
    border-radius: 30px;
}

.cover {
    width: 150px;
    height: 200px;
    border-radius: 30px;
}

.info {
    display: grid;
    width: 150px;
    height: 200px;
    border-radius: 30px;
}

.greenSquare {
    background: linear-gradient(to top, #9cc8c0, #77ccc3);
}

.yellowSquare {
    background: linear-gradient(to top, #ffecc5, #ffecc5);
}

.pinkSquare {
    background: linear-gradient(to top, #ffb8d1, #ffb7d3);
}

.transperentSquare {
    background: linear-gradient(to top, #c2cdc1, #f6f6f6);
}

.assessment {
    font-size: 25px;
    color: #bac7ca;
    margin-left: 20px;
    margin-top: 20px;
}

.nameBook {
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
}

.author {
    color: #bac7ca;
    margin-left: 20px;
}

.category.greenSquare {
    border-radius: 50px;
    background-color: #ecf4f8;
    color: #77ccc3;
    width: 150px;
    height: 30px;
    font-size: 15px;
}

.category {
    border-radius: 50px;
    background-color: #ffecc5;
    color: #1dafbc;
    width: 100px;
    height: 30px;
    font-size: 12px;
    font-weight: bold;
    margin-left: 20px;
    border: none;
    
}

.category .pinkSquare {
    border-radius: 50px;
    background-color: #ecf4f8;
    color: #1dafbc;
    width: 150px;
    height: 30px;
    font-size: 15px;
}

.category .transperentSquare {
    border-radius: 50px;
    background-color: #ecf4f8;
    color: #c2cdc1;
    width: 150px;
    height: 30px;
    font-size: 15px;
}