.scrollX {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 25px;
    overflow-x: scroll;
    grid-area: sx;
}

.square {
    display: grid;
    width: 350px;
    height: 200px;
    border: 1px solid transparent;
    border-radius: 30px;
}

.violetSquare {
    background-color: #7134bf;
}

.roseSquare {
    background-color: #edacc6;

}

.blueSquare {
    background-color: #03d3d6;

}

.orangeSquare {
    background-color: #ffa40a;

}

.textInSquare {
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding-top: 130px;
    padding-left: 30px;
}